
*, *::before, *::after {
  box-sizing: border-box;
}

:root {
    --clr-ligth: #D2A8FF;
    --clr-dark: #663DBD;
    /* --dark-color: #39226c; */
    
    --table-clr: #663DBD;
    --header-clr: #a8ed95;
    --row-clr-primary: #FFFFFF;
    --row-clr-secondary: #DDDDDD;

    --fc-primary: #000000;
    --fc-secondary: #959BAD;
    --ff-primary: 'Courier New';
    --ff-secondary: 'Courier New';
    --fs-large: 1.3rem;
    --fs-small: 1rem;

    transition: all .25s linear; 
    -o-transition: all .25s linear; 
    -moz-transition: all .25s linear; 
    -webkit-transition: all .25s linear; 
  }
  
@media (min-width: 800px) {
    :root {
        --fs-large: 1.65rem;
        --fs-small: 1.25rem;
    }
}

.function-body{

    background: var(--clr-ligth);
    color: var(--fc-primary);
    font-family: var(--ff-primary);
    font-size: var(--fs-small);
    line-height: 1.6;
    
    margin: 10% auto;
    padding: 5%;

    display:flex;
    overflow: auto;
	justify-content:center;
	align-items:center;
    flex-direction: column;
    text-overflow: ellipsis;
}

.contract-table {
    background-color: var(--table-clr);
    padding: 0% 5% 0% 5%;
	border: 0px solid var(--table-clr);
    border-radius: 5px;
    padding: 0;
}

.contract-table th, .contract-table td {
    padding: 0% 1% 0% 1%;
}

.contract-table-header {
    background-color: var(--header-clr);
    font-size: var(--fs-large);
}

.contract-table-body th, .contract-table-body td {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.contract-table-body tr:nth-child(odd) { background-color: var(--row-clr-primary) }
.contract-table-body tr:nth-child(even) { background-color: var(--row-clr-secondary) }





input[type], button {
    height: 30px;
    font-family: var(--font-family);
    font-size: var(--font-size);
    color: var(--font-color);
    margin: 1%;
    text-align: center;
    border: none;
    border-radius: 5px;
    min-width: 100px;
}

input[type]:focus{
    outline: none;
}

.function-input {
    width: 80%;
}

.function-btn {
    width: 20%;
    color: white;
    margin-top: 5%;
    background-color: var(--secondary-color);
    
    transition: 1s;
    /* transition: background-color 1s ease-out 100ms, width 1s; */
}

.function-btn:hover {
    width: 25%;
    color: white;
    background-color: var(--dark-color);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}